@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(5, 5, 5);
}
html, body {
  min-height: 100%;
}
body {
 /* background: radial-gradient(at top left, rgb(232, 196, 104) 0%, rgba(43,9,107,1) 100%); */
  background-repeat: no-repeat;


}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
justify-content:space-between ;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
  max-width: 100%;
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  border-color: black;
}

/* nav{
overflow: hidden;
margin: 40px auto;
  max-width: 100%;
}

nav a {
  float: right;
  display: block;
 margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: black;
} 

nav a:active{
border-color: black;}

.nav .icon {
  display: none;
} */

footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}


/* @media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */