.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: start;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #e9d5e1;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.btn:hover {
opacity: 80%;}

.avatarcontainer {
  width: 25vw;

}


@media screen and (max-width: 620px) {
  .logo{
display: none;}
  
}